<div class="show_code">

<% if(@contest_code)%>
  <h2>  AdoMado contest winner congratulations</h2>
  you Contest code is <%= @contest_code.code %>
<% else %>
  
  Sorry you are not authorize for this page.
<% end %>

</div>